body{
    background-color: aliceblue;
    background-image:url("sub.jpg");
    
}
header{
    background-color: aliceblue;
    border-style: solid;
}
footer{
    background-color: aliceblue;
}
main{
    background-color: aliceblue;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: brown;
}
a:hover{
    font-size: 35px;
    color: blue;
}
.stresspic:hover{
    width: 450px;
    height: 450px;
    rotate: 360deg;
    transition: 
    width 1s,
    height 1s,
    rotate 1s;
}
.stresspic{
    width: 100px;
    height: 100px;
    rotate: 180deg;
    border-style: dotted;
}
.sad{
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}
ul{
    font-size: 20px;
}
.happy{
    border-radius: 50%;
    width: 115px;
    height: 115px;
}
.arrow{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
