.header{
    background-color: lightskyblue;
}
.white{
    background-color: white;
}
.red{
    background-color: red;
}
.rectangle{
    width: 800px;
    height: 150px;
}
.blue{
    background-color: blue;
}